.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.polling-test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  max-width: 20rem;
}

.poll-bar {
  position: absolute;
  min-width: 0px;
  width: 100px;
  height: 40px;
  left: 0px;
  top: 0px;
  background-color: #5FA0DF;
  transition: all 0.5s ease;
}